*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #adb7af8a;
}
header{
    min-height: 70px;
    line-height: 70px;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #4C5760;
    box-shadow: 0px 2px 2px 3px #525352ce;
    padding: 0px 20px;
    z-index: 1;
}
nav img{
   border-radius: 100%;
   float: left;
   margin-right: 20px;
   margin-top: 10px;
   
}
nav h1{
    color: #cfcfcf;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 3px 2px 2px rgb(46, 45, 45);
    margin: 0;
}

/* start the main */
main{
    margin-top: 75px;
    width: 100%;
    
}
article{
    position: relative;
    display: flex;

}
section.results{
    height: 72vh;
    float: left;
    width: 35%;
    background-color: #C2C3B1;
    box-shadow: 0px 2px 2px 3px #9a9b94;
    overflow-y: auto;
}
.results h3 {
    font-size: 1.4em;
    margin:10px 0;
    padding: 0;
    text-align: center;
    font-style: italic;
    color: rgba(51, 5, 5, 0.911);
    
}
section.images{
    min-height: 72vh;
    width: 100%;
    background-color: #6c7b8223;
    box-shadow: 0px 2px 2px 3px #9a9b94;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0 20px 30px 20px;
}
#imgs{
    display: flex;
    width: 100%;
    margin:0;
    padding: 0 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.images h1{
    width: 100%;
    text-align: center;
    font-size: 2.2em;
    margin: 0;
    color: rgba(31, 30, 30, 0.87);
    padding: 20px;
}
.images h1 span{
    color: #2a4b66e5;
    font-size: .7em;
    
    
}
#round-text{
    color: maroon;
    font-weight: bold;
    font-size: 1.2em;
}
.images img{
    border-radius: 20px;
    width: 260px;
    height: 280px;
    box-shadow: 0px 2px 2px 3px #5a5a58d8;
    margin-bottom: 15px;
    margin-right: 10px;
    cursor: pointer;

}

/* results */
.results ul{
    padding-right: 5px;
    padding-left: 20px;
    list-style: disc;
    line-height: 40px;
    font-size: .85em;
    font-weight: 700;
    color: #2c3741;
}
.results ul li{
    border-bottom: 2px solid rgba(128, 128, 128, 0.808);
}






/* footer */
footer{
    min-height: 70px;
    line-height: 70px;
    width: 100%;
    background-color: #4C5760;
    box-shadow: 0px -2px 2px 3px #525352ce;
    padding: 0px 20px;
    margin-top: 150px;
    margin-bottom: 0;
    
}
footer h4{
    margin: 0;
    text-align: center;
    color: #cfcfcf;
}